.cd {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 40px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 32%;
}

@media (max-width: 576px) {
  .row {
    display: block;
  }
  .row .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}


.ca1 {
  background: #2f2d44;
  
  margin-top: 1.5rem;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease-in-out;
}
.ca1:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.ca1:focus {
  -webkit-box-shadow: 0 0 0 3px #22223a, 0 0 0 4px #38beea;
  box-shadow: 0 0 0 3px #22223a, 0 0 0 5px #38beea;
  outline: none;
  border-radius: 2px;
  z-index: 1090;
  position: relative;
}
.ca1 h2 {
  font-size: 1.25rem;
  margin: 0;
}
.ca1 .card-content {
  padding: 2rem;
  min-height: 110px;
  padding-bottom: 1rem;
}
.ca1 .card-content .kicker {
  color: #38beea;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.ca1 .card-content p {
  color: #adacb5;
}
.ca1 .card-content p:last-of-type {
  margin-bottom: 0;
}
.ca1 .card-image img {
  width: 100%;
  height: 162px;
}
.ca1 .card-footer {
  position: relative;
}
.ca1 .card-footer .icon {
  position: absolute;
  right: 2rem;
  max-width: 20px;
  color: #fff;
  top: 50%;
  margin-top: -10px;
  transition: color 0.3s;
}
.ca1 .card-footer a {
  background: transparent;
  border: none;
  color: #adacb5;
  padding: 1.25rem 2rem;
  width: 100%;
  text-align: left;
  display: block;

  position: relative;
  top: 3px;
  font-weight: 400;
  transition: opacity 0.3s, top 0.3s ease 0s;
}
.ca1 .card-footer a:hover, .card .card-footer a:focus {
  text-decoration: none;
  opacity: 1;
  top: 0;
}
.ca1 .card-footer a:focus {
  box-shadow: inset 0 0 0 2px #38beea;
  outline: none;
  border-radius: 2px;
  z-index: 1090;
  position: relative;
}
.ca1 .card-footer:after {
  content: "";
  width: 0%;
  height: 3px;
  background: #38beea;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}
.ca1 .card-footer:hover:after {
  width: 100%;
}
.ca1:hover .card-footer .icon, .ca1:focus .card-footer .icon {
  color: #38beea;
}
.ca1:hover .card-footer a, .ca1:focus .card-footer a {
  opacity: 1;
  top: 0;
}
.ca1:hover .card-footer:after, .ca1:focus .card-footer:after {
  width: 100%;
}
.locationimg{
  width: 23px;
}
.c-color{
  color: #fff !important;
}